  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex justify-cntent-center align-items-center">
    <div id="heroCarousel" class="container carousel carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">
{% assign isFirstSlide = true %}
{% for slide in site.main.slide %}
      <div class="carousel-item{% if isFirstSlide %} active{% endif %}">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">{{ slide.title }}</h2>
          <p class="animate__animated animate__fadeInUp">{{ slide.description }}</p>
          {% if slide.link %}
          <a href="{{ slide.link }}" class="btn-get-started animate__animated animate__fadeInUp">더 보기</a>
          {% endif %}
        </div>
      </div>
{% assign isFirstSlide = false %}
{% endfor %}

      <!-- Prev Button -->
      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
      </a>
      <!-- Next Button -->
      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
      </a>
    </div>
  </section>
  <!-- End Hero -->