<!-- ======= Footer ======= -->
  <footer id="footer" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 footer-links">
            <h4>{{ translations.includes.footer.contact.heading }}</h4>
            <p>{{ translations.includes.footer.contact.description }}</p>
            <div class="social-likes mt-6">
              <a href="mailto:{{ site.email }}" class="email"><i class="bx bx-envelope"></i> {{ site.email }}</a>
            </div>
          </div>
          <!-- <div class="col-lg-3 col-md-6 footer-links"></div>
          <div class="col-lg-3 col-md-6 footer-links"></div> -->
          <div class="col-lg-6 col-md-6 footer-links">
            <h4>{{ translations.includes.footer.social.heading }}</h4>
            <p>{{ translations.includes.footer.social.description }}</p>
            <div class="social-links mt-3">
              <a href="{{ site.ext_links.github }}" target="_blank" class="github"><i class="bx bxl-github"></i></a>
              <a href="{{ site.ext_links.youtube }}" target="_blank" class="youtube"><i class="bx bxl-youtube"></i></a>
              <a href="{{ site.ext_links.facebook }}" target="_blank" class="facebook"><i class="bx bxl-facebook"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        <p class="footer-links">{{ translations.includes.footer.coc | replace: "__COC_URL__", site.ext_links.coc }}</p>
        &copy; Copyright <strong><span>{{ translations.site.title }}</span></strong>. All Rights Reserved.
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/free-bootstrap-template-corporate-moderna/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>