<!-- General -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="language" content="{{ site.lang }}">
<meta name="description" content="{{ translations.site.description }}">
<meta name="keywords" content="{{ translations.site.description }}">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="{{ site.url }}{{ site.baseurl }}">
<meta property="og:title" content="{{ translations.site.title }}">
<meta property="og:description" content="{{ translations.site.description }}">
<meta property="og:image" content="{{ site.url }}{{ site.baseurl }}assets/img/hero-bg.png">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="{{ site.url }}{{ site.baseurl }}">
<meta property="twitter:title" content="{{ translations.site.title }}">
<meta property="twitter:description" content="{{ translations.site.description }}">
<meta property="twitter:image" content="{{ site.url }}{{ site.baseurl }}assets/img/hero-bg.png">

<!-- Verification -->
<meta name="msvalidate.01" content="DAD5F47FD95D2C8E32DEF1334722FA56" />

{{ i18n_headers }}