  <!-- Vendor JS Files -->
  <script src="{{ site.baseurl }}assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="{{ site.baseurl }}assets/vendor/aos/aos.js"></script>
  <script src="{{ site.baseurl }}assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="{{ site.baseurl }}assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="{{ site.baseurl }}assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="{{ site.baseurl }}assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="{{ site.baseurl }}assets/vendor/waypoints/noframework.waypoints.js"></script>

  <!-- Template Main JS File -->
  <script src="{{ site.baseurl }}assets/js/main.js"></script>